.productDetail {
  width: 80%;
  margin: 0 auto;
}

.productDetail__title {
  text-align: center;
  margin: 30px 0;
}

.productDetail__details-item {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.productDetail__details-item label {
  font-size: var(--fz-16);
  font-weight: var(--fw-700);

  flex: 1;
}

.productDetail__details-item-content {
  flex: 4;

  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.productDetail__details-item-content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--bor-10);
}
.productDetail__details-item-content .contentTitle {
  font-size: var(--fz-16);
  font-weight: var(--fw-900);
}
.productDetail__details-item-content .contentCat {
  border: 1px solid var(--color-black);
  padding: 5px;
}

.productDetail__button {
  display: flex;
  justify-content: center;
}

.productDetail__button button {
  padding: 15px 20px;
}


