/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ====================================== */
/* ========== GENERAL STYLES =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /* COLOR */
  --bg-beige: #ded6cd;
  --bg-green: #98a7a3;
  --bg-blue: #a7adb6;
  --bg-brown: #c2b4ae;
  --bg-white: #fff;
  --bg-black: #000;

  /* FONT SIZE */
  --fz-12: 12px;
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-30: 30px;
  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  /* TRANSITION */
  --transition: 0.3s ease;
  /* BORDER */
  --bor-5: 5px;
  --bor-10: 10px;
  --bor-round: 50%;
  /* CONTAINER */

  --container-lg: 80%;
  --container-sm: 90%;

  /* SCROLL BAR */
  --scroll-bar-color: #fff;
  --scroll-thumb-color: #c2b4ae;
  --scroll-thumb-hover-color: #ded6cd;
}

/*======= Scroll bar =======*/
::-webkit-scrollbar {
  width: 11px;

  background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
  width: 100%;
  height: 50%;
  background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: var(--bg-white);
  font-size: var(--fz-14);
  font-family: "Roboto", sans-serif;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}

a {
  color: var(--bg-black);
}

h2 {
  font-size: var(--fz-30);
}

button {
  width: max-content;

  border: none;

  cursor: pointer;

  background: transparent;

  transition: var(--transition);
}

.btn-brown {
  background: var(--bg-brown);
  color: var(--bg-white);
}

.btn-brown:hover {
  background: var(--bg-beige);
}

.btn-green {
  background: var(--bg-green);
  color: var(--bg-white);
}
.btn-green:hover {
  background: var(--bg-blue);
}
.btn-white {
  border: 2px solid var(--bg-black);
  color: var(--bg-black);
  background: var(--bg-white);
}

.btn-white:hover {
  background: var(--bg-black);
  color: var(--bg-white);
}
/* ------------------------- */
/* ------ RESPONSIVE -------- */

/* === TABLET === */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-sm);
  }
}

/* === MOBILE === */
@media screen and (max-width: 750px) {
}
