/* IMPORT GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ============== GENERAL STYLES =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /* COLOR */
  --color-white: #fff;
  --color-black: #111;
  --color-blue: #a7adb6;
  --color-green: #98a7a3;

  /* FONT SIZE*/
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-30: 30px;

  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* BORDER */
  --bor-5: 5px;
  --bor-10: 10px;
  --bor-50: 50%;
  /* TRANSITION */
  --transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;

  background: var(--color-white);
  color: var(--color-black);
  font-size: var(--fz-14);
}
h2 {
  font-size: var(--fz-30);
  font-weight: var(--fw-700);
}
a {
  color: var(--color-black);
  cursor: pointer;
  transition: var(--transition);
}
a:hover {
  color: var(--color-green);
}
textarea {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
button {
  border: none;
  width: max-content;
  cursor: pointer;

  transition: var(--transition);
}

.btn-light {
  background: var(--color-white);

  border: 2px solid var(--color-black);

  color: var(--color-black);
  font-weight: var(--fw-700);
}
.btn-light:hover {
  background: var(--color-black);
  color: var(--color-white);
}
