.gallery__wrapper {
  width: 100%;

  padding: 50px 0;
}

/* -------- GALLERY IMAGE CARD ---------- */
.galleryImageCard {
  width: 100%;
}

.galleryImageCard__wrapper {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.galleryImageCard__wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ------------------------- */
/* ------ RESPONSIVE -------- */

/* === TABLET === */
@media screen and (max-width: 1024px) {
    /* -------- GALLERY IMAGE CARD ---------- */
    .galleryImageCard__wrapper {
    
      gap: 5px;
    }
}

/* === MOBILE === */
@media screen and (max-width: 750px) {

  /* -------- GALLERY IMAGE CARD ---------- */
  .galleryImageCard__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }
  .galleryImageCard__wrapper img {
    height: 200px;
  }
}
