.editInput__wrapper {
    width: 100%;
}
.editInput-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.editInput-item label {
    flex: 1;
    font-size: var(--fz-16);
    font-weight: var(--fw-500);
}

.editInput-item-content {
    flex: 4;
}

.editInput-item-content :is(input, textarea) {
    width: 100%;
    padding: 10px;
}