.pagination {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 30px;
}

.pagination__wrapper {
  display: flex;
}
.pagination-item {
  display: flex;
  align-items: center;
}
.pagination-item a {
  border: 1px solid var(--color-green);
  padding: 5px;
  font-size: var(--fz-16);
}

.activePagi {
  background: var(--color-green);
  color: var(--color-white);
}