.login {
  width: 100%;
  background: var(--color-blue);
  min-height: 100vh;
}

.login__wrapper {
  width: 80%;
  margin: 0 auto;
}

/* ===== LOGIN TOP (BACK TOP HOME BUTTON) ======= */
.login__wrapperTop {
  padding: 30px 0;

  display: flex;
  justify-content: flex-end;
}

.login__wrapperTop button {
  padding: 15px 20px;
  border-radius: var(--bor-5);
}

/* --------- LOGIN BOTTOM (INPUT) ------------ */
.login__wrapperBottom {
  width: 60%;
  margin: 0 auto;
  padding: 40px;

  background: var(--color-white);

  border-radius: var(--bor-10);
}
/*  *** Title *** */
.login__wrapperBottom-title {
  margin-bottom: 40px;
  text-align: center;

  font-size: var(--fz-30);
  font-weight: var(--fw-900);
}
/*  *** Input Lists *** */
.login__wrapperBottom-inputList .item {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
.login__wrapperBottom-inputList .item > * {
  margin-bottom: 10px;
}
.login__wrapperBottom-inputList .item label {
  font-size: var(--fz-16);
  font-weight: var(--fw-500);

  display: flex;
  align-items: center;
}
.login__wrapperBottom-inputList .item label > * {
  margin-right: 5px;
}
.login__wrapperBottom-inputList .item input {
  width: 100%;
  padding: 10px;
}

/* *** button **** */
.login__wrapperBottom-button {
  display: flex;
  justify-content: center;
}

.login__wrapperBottom-button button {
  padding: 10px 30px;
}

/* ------------------------------------ */
/* ============= RESPONSIVE ============ */
/* ------------------------------------ */

/* **** TABLETS ***** */
@media screen and (max-width: 1024px) {
  /* --------- LOGIN BOTTOM (INPUT) ------------ */
  .login__wrapperBottom {
    width: 90%;
  }
}

/* **** MOBILE ***** */
@media screen and (max-width: 700px) {
  .login__wrapperBottom {
    width: 100%;
  }
}
