.sidebar {
  width: 250px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;

  background: var(--color-white);
  border-right: 1px solid var(--color-green);
}

.sidebar__wrapper {
  width: 80%;
  height: 100%;

  margin: 0 auto;
  padding: 20px;
}

/* ----------- SIDEBAR LOGO ---------- */
.sidebar__wrapper-logo {
  font-size: var(--fz-30);
  font-weight: var(--fw-900);

  margin-bottom: 40px;
}

/* ------------DASHBOARD--------------------- */

.sidebar__wrapper-dashboard .title {
  font-weight: var(--fw-700);
  font-size: var(--fz-20);

  margin-bottom: 10px;
  display: flex;
  align-items: center;

  color: var(--color-green);
}
.sidebar__wrapper-dashboard .title > :first-child {
  margin-right: 5px;
}
.sidebar__wrapper-dashboard .items {
  display: flex;
  flex-direction: column;
}

.sidebar__wrapper-dashboard .items a {
  padding: 15px;

  display: flex;
  align-items: center;

  font-weight: var(--fw-500);
}

.activeClassName {
  border: 1px solid var(--color-green);
  border-radius: var(--bor-10);
}
.sidebar__wrapper-dashboard .items a > :first-child {
  margin-right: 5px;

  color: var(--color-green);
  font-weight: var(--fw-700);
  font-size: var(--fz-16);
}
