.productList__cardsContainer {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 20px;
}
.productList__card {
  border: 2px solid var(--bg-black);
  border-radius: var(--bor-10);

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  padding: 40px 20px;

  background: var(--bg-white);
}
.productList__cardImg {
    position: relative;
}
.productList__cardImg-image {
  width: 200px;
  height: 200px;
  border-radius: var(--bor-round);
  border: 2px solid var(--bg-black);

  overflow: hidden;
}
.productList__cardImg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productList__cardImg-star {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: spin 15s linear infinite;
}
.productList__cardImg-star::before {
    position: absolute;
    z-index: 10;
    content: '';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("../../assets/image/icon/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: -0.8rem;
    top: calc(50% - 0.8rem);
    animation: spin 15s linear infinite;
}
.productList__cardImg-star::after {
    position: absolute;
    z-index: 10;
    content: '';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("../../assets/image/icon/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: -0.8rem;
    top: calc(50% - 0.8rem);
    animation: spin 15s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.productList__cardTitle {
  margin: 30px 0 15px 0;
  font-size: var(--fz-20);
  font-weight: var(--fw-700);
}

.productList__price {
  font-size: var(--fz-16);
  margin-bottom: 20px;
}

.productList__button button {
  padding: 15px 20px;
  border-radius: 20px;

  font-weight: var(--fw-700);
}
