.productListContainer {
  width: 100%;
  height: auto;
  background: var(--bg-beige);
  padding: 50px 0;
}
.productList-button {
  margin-top: 20px;
}
.productList-button button {
  display: block;
  margin: 0 auto;
  padding: 13px 30px;

  border-radius: var(--bor-5);

  font-weight: var(--fw-900);
}
