.buttons > *{
 margin: 10px;
 padding: 10px 20px;
}
.btn-confirm {
    background: var(--color-green);
    color: var(--color-white);
}

.btn-confirm:hover{
    background: var(--color-blue);
}
.btn-cancel {
    background: rgb(193, 69, 75);
    color: var(--color-white);
}

.btn-cancel:hover {
    background: rgb(158, 59, 64);
}
