footer {
  width: 100%;
}

.footer__wrapper {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

/* ------------- BACK TO TOP BUTTON ----------- */
.footer__backToTop button {
  padding: 10px 20px;

  font-size: var(--fz-16);

  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

/* -------------MAIN CONTENT----------- */
.footer__mainContent {
  display: flex;
}
.footer__mainContent-left,
.footer__mainContent-right {
  flex: 1;
}

.footer__mainContent-left {
  display: flex;
}

.footerLeft__pages,
.footerLeft-menu {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.footerLeft__pages h4,
.footerLeft-menu h4 {
  font-size: var(--fz-20);
  margin-bottom: 10px;
}

.footerLeft__pages a,
.footerLeft-menu a {
  padding: 10px 0;
}

.footer__mainContent-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerRight-logo {
  font-size: var(--fz-30);
  font-weight: var(--fw-700);
  text-align: center;

  border-bottom: 1px solid var(--bg-black);

  padding-bottom: 20px;
}
.footerRight-logo-icon {
  color: pink;
}
.footerRight-socials {
  margin-top: 20px;
  padding: 20px;

  background: var(--bg-green);

  border-radius: var(--bor-5);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerRight-socials h5 {
  color: var(--bg-white);
  margin-bottom: 20px;
  font-size: var(--fz-12);
}
.footerRight-socials div a {
  padding: 10px;

  font-size: var(--fz-20);
  font-weight: var(--fw-700);
  color: var(--bg-white);
}
.footerRight-socials div a:hover > *{
  transform: scale(1.5);
}
/* --------- COPYRIGHT ----------- */
.footer__copyright {
  text-align: center;

  margin: 30px 0;
}

/* ------------------------- */
/* ------ RESPONSIVE -------- */

/* === TABLET === */
@media screen and (max-width: 1024px) {
}

/* === MOBILE === */
@media screen and (max-width: 750px) {
  .footer__wrapper {
    width: 90%;
  }
  /* -------------MAIN CONTENT----------- */
  .footer__mainContent {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .footerLeft__pages,
  .footerLeft-menu {
    padding-left: 20px;
  }
}
