nav {
  width: 100%;
}
.nav__wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px;

  border: 2px solid var(--color-green);
  border-radius: var(--bor-10);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------- NAVBAR LEFT --------- */
.nav__wrapperLeft {
    display: flex;
    align-items: center;
}
.nav__wrapperLeft-title {
  font-weight: var(--fw-700);
  margin-right: 5px;
}
.nav__wrapperLeft-theme {
  display: flex;
  align-items: center;
}
.nav__wrapperLeft-theme > * {
  padding: 10px;
  margin: 5px;

  cursor: pointer;
  border-radius: var(--bor-50);
}
.nav__wrapperLeft-theme div:first-child {
  background: pink;
  border: 1px solid pink;
}
.nav__wrapperLeft-theme div:nth-child(2) {
  background: white;
  border: 1px solid var(--color-black);
}
.nav__wrapperLeft-theme div:nth-child(3) {
  background: var(--color-black);
  border: 1px solid var(--color-black);
}
.nav__wrapperLeft-theme div:nth-child(4) {
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
}

/* --------- NAVBAR RIGHT --------- */
.nav__wrapperRight a {
    font-weight: var(--fw-700);
}
