.mainNav {
  width: 100%;

  position: fixed;
  top: 0;

  font-weight: var(--fw-900);
}

.nav__wrapper {
  width: 100%;
  padding: 20px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------- */
/* =============== NAVBAR ==================== */
/* ------------------------------------------- */

/* ------------ NAVBAR LEFT----------------- */
.nav__wrapper-left {
  flex: 1;
  text-align: center;
}
.navLeft-navigation a {
  padding: 10px;
  font-size: var(--fz-16);
  color: var(--bg-white);
}

/* ------------ NAVBAR CENTER----------------- */
.nav__wrapper-center {
  flex: 1;
  text-align: center;
}
.navCenter-logo {
  font-size: var(--fz-30);
  color: var(--bg-white);
}
.navCenter-logo-icon {
  color: pink;
}

/* ------------ NAVBAR RIGHT----------------- */
.nav__wrapper-right {
  flex: 1;
  display: flex;
  align-items: center;

  justify-content: center;
}

.nav__wrapper-right a {
  padding: 10px;
  font-size: var(--fz-16);
  color: var(--bg-white);

  display: flex;
  align-items: center;
}

.nav__wrapper-right a > * {
    margin-right: 5px;
}