.homeHeader {
  width: 100%;
  height: 100vh;
}

.homeHeader__wrapper {
  width: 100%;
  height: 100%;

  background: url("../../../assets//image/heading/heading-4.jpg") no-repeat
    center center;
  background-size: cover;
}


