.titleContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleContainer > * {
  margin-bottom: 20px;
}
.titleContainer-icon {
  font-size: var(--fz-20);
}

/* ------------------------- */
/* ------ RESPONSIVE -------- */

/* === TABLET === */
@media screen and (max-width: 1024px) {
}

/* === MOBILE === */
@media screen and (max-width: 750px) {
  /* --------  TITLE ---------- */
  .titleContainer {
    text-align: center;
  }
}
