.addProduct {
  width: 100%;

  margin-top: 20px;
}

/* ------------- TITLE ------------ */
.addProduct-title {
  text-align: center;
  margin-bottom: 40px;
}


/* ------------- CONTENT ------------ */
.addProduct__contents {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.addProduct__contents-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
/* *** Product Thumnail Image *** */
.addProduct__contents-item.productThumbnailImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.addProduct__contents-item.productThumbnailImage img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/* **** label,input, textarea */
.addProduct__contents-item label {
  margin-bottom: 10px;

  font-size: var(--fz-16);
  font-weight: var(--fw-500);
}
.addProduct__contents-item input {
  padding: 10px;
}

.addProduct__contents-item textarea {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

/* *** checkbox *** */
.addProduct__contents-item-checkbox > * {
  margin-right: 5px;
}

.addProduct__contents-item-checkbox label {
  font-weight: var(--fw-400);
}
/* *** gallery image *** */
.addProduct__contents-item .imageGalleryDisplay{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.addProduct__contents-item .imageGalleryDisplay img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/* *** add new button *** */
.addProduct__contents-item.addNewButton{
  display: flex;

  align-items: center;
}
.addProduct__contents-item.addNewButton button {
  padding: 15px 20px;
}
