.list-container {
  width: 100%;
}
.list {
  margin-left: 250px;
  padding: 20px;
}

.list__top {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 20px;
  margin-bottom: 20px;
}

.list__top-button button {
  padding: 20px;
  background: var(--color-green);
  border-radius: 10px;
  color: var(--color-white);
  font-weight: var(--fw-700);
}

.list__top-search label {
  font-weight: var(--fw-500);
  display: inline-block;
  margin-bottom: 10px;
}
.list__top-search .search-wrapper {
  border: 1px solid var(--color-green);
  display: flex;
  align-items: center;
  padding: 5px;
}
.list__top-search .search-wrapper:focus-within {
  outline: 2px solid var(--color-green);
}
.list__top-search .search-wrapper input {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
}
.list__top-search .search-wrapper > :last-child {
  font-size: var(--fz-16);
  cursor: pointer;
}
